#hoved {
    display: grid;
    background-color: #c6c6c6;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
  }
  #hoved > div {
    background-color: #aac9c6;
    border: 1px solid black;
  }